:root{
    --tangerine: #F19F4D; /*rgb(241,159,77)*/
    --light:#F9CF00; /*rgb(249,207,0)*/
    --aluminum: #D9D9D9; /* 217,217,217 */
    --sblue: #4484CE; /*rgb(68,132,206)*/
    --darkblue:rgb(59, 105, 137);
}

body, html {
    height: 100%;
}

input:focus, textarea:focus,button:focus {
    outline: none;
}

#navbarLogo{
    width: 250px;
    height: 140px;
    margin-top: -30px;
}
.navbar-toggler{ 
    margin: 10px;
    border: 3px solid black;
    background-color: rgba(217,217,217,0.5);
    
}
#logoOnSmallDiv{
    float: left;
}
.fixed-top{
    background-color: -moz-linear-gradient(top, rgba(3,11,15,0.8) 0%, rgba(5,15,20,0.5) 57%, rgba(224,227,229,0) 100%); /* FF3.6-15 */
    background-color: -webkit-linear-gradient(top, rgba(3,11,15,0.8) 0%,rgba(5,15,20,0.5) 57%,rgba(224,227,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background-color: linear-gradient(to bottom, rgba(3,11,15,0.8) 0%,rgba(5,15,20,0.5) 57%,rgba(224,227,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: background-color 1.2s;
    -webkit-transition: background-color 1.2s;
}




#toHome{
    padding: 0 auto;
    height: 60px;
    padding-top: 10px;
    
}



#links{
    text-align: center;
}
#navigate{
    padding:0px;
}




.textLinks a{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}
.textLinks{
    transition: all 0.6s;
}

.textLinks a:hover{
    color: white;
}
.textLinks a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.textLinks a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.textLinks:hover{
    background-color: rgba(255,255,255,0.1);
}

hr{
    height: 1px;
    border: none;
    background-color: var(--aluminum);
    margin: 0px;
}


@keyframes whitebackForNavbar{
    from {
        background-color: background: -moz-linear-gradient(top, rgba(3,11,15,0.8) 0%, rgba(5,15,20,0.5) 57%, rgba(224,227,229,0) 100%); /* FF3.6-15 */
        background-color: -webkit-linear-gradient(top, rgba(3,11,15,0.8) 0%,rgba(5,15,20,0.5) 57%,rgba(224,227,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background-color: linear-gradient(to bottom, rgba(3,11,15,0.8) 0%,rgba(5,15,20,0.5) 57%,rgba(224,227,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
    }
    to {background-color: var(--tangerine);}
}
.fixed-top.scrolled{
    animation-name: whitebackForNavbar;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    
}
.scrolledBack{
    animation: whitebackForNavbar 0.8s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}




.paraxify{
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}






footer{
    padding: 40px;
    padding-bottom: 0;
    background-color: rgb(201,109,37);
}
footer h4{
    color: var(--light);
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
}
footer p{
    font-size:15px;
    color:black;
}
#emailSignup{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: 1px hidden black;
}
#emailSubmit{
    width: 60px;
    height: 30px;
    padding: 5px;
    margin-left: 0;
    background-color: black;
    border-color: var(--aluminum);
    color: var(--aluminum);
}
#socialdiv{
    width: 50%;
    margin-top: 30px;
    margin-left: 0px;
}
.socialIcon{
    width: 25%;
    height: 8%;
    padding: 0;
}
.socialLogo{
    width: 80%;
    height: 80%;
    margin: 10%;
}
#facebook{
    background-color: #3B5998;
}
#face{
    height: 50%;
}
#twitter{
    background-color: #1DA1F2;
}
#instagram{
    background-image: url("../img/instaBack.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#linkedin{
    background-color: #0077B5;
}
#footLogo{
    width: 100%;
    height: 30%;
    margin:  10px auto;
}
.footerLink{
    width: 100%;
    color: var(--aluminum);
}
.linkColumns{
    padding-left: 20px;
}
.footerLink:before{
    content: "»";
}
.footerLink:hover{
    color: var(--light);
}
.footerSection{
    margin-top: 30px;
    height: auto;
}
#contact{
    margin-top: 20px;
}




@media(min-width:992px){
    .textLinks{
        padding-top: 16px;
    }
}

@media(max-width: 991px) and (min-width: 767px){
    .textLinks{
        padding-top: 4px;
    }
    #toInts:before {
        width: 150%; 
        left:-4px;
    }
    #toVol:before{
        width: 130%;
        left: -3px;
    }
    #toMeet:before{
        width: 150%;
    }
    #toUser:before{
        width: 160%;
        left: -30px;
    }
    #toHome{
        padding-left: 0px;
    }
}
@media(max-width: 767px){  /*TODO fix collapsing menubar background transparent */
    .textLinks a{
        width: 150%;
    }
    #footLogo{
        height: 40%;
        margin-bottom: 0;
    }
    #allLinks{
        margin-top: -30px;
    }
}












