#intHeadline{
    text-align: center;
    margin: 0;
    height: 300px;
    background-image: url(../img/intMain/int_office.jpg);
    overflow: hidden !important;
}
#pageTitle{
    height: 65px;
    padding: 10px;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
    font-size: 100px;
    align-self: center;
    position: relative;
    top: 70px;
    left:0;
    right: 0;
    margin: 10px auto;
}
#searchBoxSection{
    height: 50px;
    background: #fcb674; /* Old browsers */
    background: -moz-linear-gradient(45deg, #fcb674 0%, #fc9732 36%, #fc9732 36%, #fc9732 66%, #ef7c09 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #fcb674 0%,#fc9732 36%,#fc9732 36%,#fc9732 66%,#ef7c09 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #fcb674 0%,#fc9732 36%,#fc9732 36%,#fc9732 66%,#ef7c09 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb674', endColorstr='#ef7c09',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: all 1.2s;
    top: 0;
}
#searchPlaceholder{
    height: 50px;
}
#searchBoxSection.fixed-top{
    z-index: 4;
    top: 60px;
    background: var(--tangerine);
}
.navbar.fixed-top{
    z-index: 5;
}
#searchContainer{
    height: 100%;
}
#searchBox{
    border: none;
    border-radius: 20px;
    width: 75%;
    height: 30px;
    margin: 10px 5px;
    padding: 0 10px;
    color: dimgray;
    font-family: 'Quicksand',sans-serif;
    font-size: 14px;
    box-shadow: inset 0 0 4px 1px lightgray;
}
#searchIcon{
    background: white;
    display: inline;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    padding: 0;
    font-size: 20px;
    transform: translateY(2px);
    box-shadow: inset 0 0 2px 1px lightgray;
}

#categoriesSection{
    height: auto;
    background-image: url(../img/intMain/library_back.png);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    padding-bottom: 70px;
}


#categoriesCol{
    width: auto;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.4);
}

#forCoolBorder{
    border-style: solid;
-moz-border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg) 13 stretch repeat;
-webkit-border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg) 13 stretch repeat;
-o-border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg) 13 stretch repeat;
border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg)13 stretch repeat;
    border-width: 7px;
    padding: 20px;
    height: 430px;
    overflow: hidden;
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(45deg, #ffffff 0%, #effaff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #ffffff 0%,#effaff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #ffffff 0%,#effaff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#effaff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-width: 12px;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 55px;
}

#catTitle{
    font-family: 'Roboto',sans-serif;
    font-size: 60px;
    font-weight: bolder;
    padding: 10px;
    width: 60%;
    margin: 10px auto;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url(../img/intMain/the-illusionist.png);
    border: 5px solid var(--sblue);
    border-radius: 20px;
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 0;
}


.catContainer{
    padding: 20px;
}
@keyframes floating{
    0%{transform: translateY(0);}
    50%{transform: translateY(-15px);}
    100%{transform: translateY(0);}
}
.category{
    border: none;
    border-radius: 20px;
    height: auto;
    min-height: 170px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.4);
    font-family: 'Poiret One',sans-serif;
    transition: all 0.7s;
}
.category:hover{
    transform: translateY(-7px) scale(1.05);
    animation-name: b;
}
.catName{
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    position: relative;
    top: 60px;
}
.catImg{
    width: 80px;
    height: 80px;
    visibility: hidden;
    border-radius: 50%;
    border: 7px solid rgba(0,0,0,0.3);
    transform: scale(0.05);
    transition: all 0.5s;
}
.catImg.grow{
    visibility: visible;
    transform: scale(1) translateY(30px);
}
.catImg.growTall{
    transform: scale(1) translateY(-2px);
}
#moreButton{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
    border: 4px solid white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    transition: all 0.5s;
}
#moreButton:hover{
    background-color: rgba(0,0,0,0.5);
}
#moreButton:focus{
    outline: none;
}
#circleChevron{
    width: 40px;
    height: 40px;
    border:2px solid white;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.3);
    transition: all 0.8s;
}
#down{
    position: relative;
    top: 3px;
}
#circleChevron.rotatable{
    transform: rotate(180deg);
}

#topTitleContainer{
    margin-top: 60px;
    width: 600px;
    background: url(../img/intMain/texture-white.jpg);
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    left: -40px;
    padding: 10px;
    padding-left: 5%;
}
#topTitle{
    font-family: 'Poiret One',sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

#topIntsContainer{
    width: 80%;
    overflow: hidden;
    margin: 40 auto;
}
#topIntsContainer::-webkit-scrollbar{
    display: hidden;
}
.forCoolBorder3{
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.4);
    opacity: 0.999;
}
#scrollingCards{
    flex-wrap: nowrap;
    position: relative;
}
.intCardContainer{
    padding: 20px;
}
.intCardContainer a{
    color: black;
}
.intCardContainer a:hover{
    text-decoration: none;
    color: black;
}
.intCard{
    padding-top: 0px;
    background: url(../img/intMain/texture-white.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    border-style: solid;
    border-width:10px;
-moz-border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg) 13 stretch repeat;
-webkit-border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg) 13 stretch repeat;
-o-border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg) 13 stretch repeat;
border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg)13 stretch repeat;
    border-left: none;
    border-radius: 20px;
    border-right: none;
    border-bottom: none;
    opacity: 0.999;
    min-height: 390px;
    position: relative;
}
.topIntImage{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}
.forInsetShadow{
    width: 90%;
    height: 100px;
    margin: 15px auto;
    box-shadow:  inset 0 0 25px 7px rgba(0,0,0,0.6);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}
.topIntCompImage{
    width: 100px;
    height: 90px;
    background: white;
    padding: 10px;
    position: relative;
    background: url(../img/intMain/texture-white.jpg);
    top: -60px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: -60px;
}
.topIntTitle{
    width: 90%;
    height: 50px;
    margin: 10px auto;
    margin-bottom: 0;
    font-size: 17px;
    font-family: 'Quicksand',sans-serif;
    font-weight: bolder;
    color: var(--tangerine);
}
.anInfo{
    width: 80%;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    margin: 5px auto;
}
.anInfoBottom{
    border-bottom: none;
}
.anInfo i{
    float: left;
    padding-top: 3px;
    margin-right: 5px;
}
.toIntDetails{
    width: 90%;
    margin: 10px auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    color: white;
    background: url(../img/intMain/3d-colorful-spiral-1057.jpg);
    background-position: 60% 75%;
    height: 35px;
    transition: all 0.7s;
    position: absolute;
    bottom: 0px;
    left: 10px;
    opacity: 0.999;
    font-family: 'Comfortaa',sans-serif;
    font-weight: bolder;
}
.toIntDetails:hover{
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}
.buttonDiv{
    padding: 10px;
    transition: all 0.8s;
}
.scrollButton{
    height: 120px;
    width: 90%;
    background: url(../img/intMain/3d-colorful-spiral-1057.jpg);
    background-position: 50% 50%;
    border: 3px solid white;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.9));
    
}
#scrollTopIntsLeft{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
}
#scrollTopIntsRight{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    
}
.triangle{
    position: absolute;
    top: 30px;
}
#triangleLeft{
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-right:30px solid white; 
    left:10px;
}
#triangleRight{
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-left:30px solid white;
    right: 10px;
}
.scrollButton:hover{
    box-shadow: inset 0 0 35px 15px var(--tangerine);
}
.scrollButton:focus{
    box-shadow: inset 0 0 15px 5px black;
}

.break{
    height: 3px;
    position: relative;
    top: 20px;
}
.buttonCol{
    padding: 0 !important;
}
.buttonLink{
    color: var(--sblue);
    transition: all 0.3s;
}
.buttonLink:hover{
    color: white;
    text-decoration: none;
}
.clickable{
    width: 100%;
    height: 100%;
}
.btn-group{
    margin-bottom: 10px;
    width: 100%;
    border-radius: 15px;
}
.letterButton{
    font-family: 'Quicksand',sans-serif;
    font-size: 2vw;
    font-weight: bolder;
    background: rgba(255,255,255,0.85);
    border: 2px solid var(--tangerine);
    padding: 5px 0;
    transition: background 0.7s;
}
.letterButton:hover{
    background: rgba(0,0,0,0.85);
}
.buttonText{
    width: 80%;
    margin: 0px auto;
    height: auto;
    padding: 2px;
    border:2px solid var(--tangerine);
    border-top: none;
    border-bottom: none;
    transition: all 0.3s;
}
#letterRow{
    padding-top: 95px;
    padding-bottom: 25px;
}
.letIntCol{
    border-width:10px;
    border-style: solid;
    -moz-border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg) 13 stretch repeat;
    -webkit-border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg) 13 stretch repeat;
    -o-border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg) 13 stretch repeat;
    border-image: url(../img/intMain/3d-colorful-spiral-1057.jpg)13 stretch repeat;
    border-bottom: none;
    border-right: none;
    border-top:none;
    padding: 0;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    position: relative;
    left: 0;
    transition: all 0.5s;
}
.letIntCol:hover{
    left: 60px;
}
.letIntCont{
    width: 100%;
    height: 100%;
    background: url(../img/intMain/white-flames.jpg);
    background-size: 50% 100%;
    background-repeat: repeat-x;
    padding: 20px;
    
}
.letIntImg{
    width: 100%;
    min-height: 100%;
}
.anInfo{
    border-bottom: none;
    font-size: 12px;
}
.descText{
    font-size: 13px;
    color: dimgray;
    font-family: 'Roboto',sans-serif;
}
.intTitle{
    font-family: 'Quicksand',sans-serif;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}
.info3 i{
    color: black;
}
.buttonCol{
    height: 100%;
    padding: 10px;
}
.goButtonLink{
    width: 100%;
    height: 100%;
    color: white;
    transition: all 0.6s;
}
.goButtonLink:hover{
    color: var(--tangerine);
}
.goButtonDiv{
    width: 100%;
    height: 100%;
}
.goButton{
    background: url(../img/intMain/3d-colorful-spiral-1057.jpg);
    background-position: center;
    color: white;
    height: 100px;
    width: 100%;
    font-size: 5vw;
    transition: all 0.6s;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: -10px;
    margin-bottom: -15px;
}
.goButton:hover{
    box-shadow:inset 0 0 15px 5px rgba(0,0,0,0.5);
}
.goButton i{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}


@media (max-width: 992px){
    #triangleLeft{
        margin-left: 10%;
    }
    #triangleRight{
        margin-right: 10%;
    }
    
    #topTitleContainer{
        padding-left: 10%;
    }
}
@media (max-width: 767px){
    #pageTitle{
        font-size: 65px;
    }
    #catTitle{
        font-size: 10vw;
        width: 100%;
        margin-bottom: 0;
    }
    .catContainer{
        padding: 5px;
    }
    .category:hover{
        transform: none;
    }
    .category{
        margin-top: 30px;
    }
    #searchBoxSection.fixed-top{
        top: 65px;
    }
    #topTitleContainer{
        width: 500px;
        padding-left: 13%;
    }
    #topTitle{
        font-size: 30px;
    }
    .letIntCol:hover{
        left: 30px;
    }
    .letterButton{
        font-size: 3.2vw;
    }
    .goButton{
        height: 50px;
        font-size: 35px;
    }
    .intTitle{
        margin-top: 10px;   
    }
}
@media(max-width: 575px){
    #searchBox{
        width: 85%;
    }
    .catContainer{
        padding: 0px;
    }
    .category{
        border-radius: 0;
        border:none;
        animation-name: none !important;
    }
    #catTitle{
        margin-bottom: 15px;
    }
    #logoOnSmall img{
        width: 100px !important;
        height: 60px !important;
        margin: 10px;
    }
    #triangleLeft{
        left: 2px;
    }
    #triangleRight{
        right: 2px;
    }
    .buttonDiv{
        padding: 0;
    }
    #topTitleContainer{
        width: 1000px;
    }
    #topTitle{
        font-size: 25px;
    }
    .letIntCol:hover{
        left: 0px;
    }
}