#mainView{
    height: auto;
    position: static;
}
#bg-image{
    background-image: url('../img/highschool_bg.png');
    height: 1000px;
}
#logincontainer{
    position: absolute;
    z-index: 4;
    width: 100%;
    padding: 0;
    top: 20%;
}
#loginBox{
    background-color: rgba(241,159,77,0.35);
    box-shadow: 0 0 0px black;
    border-radius: 20px;
    padding: 0;
}
#loginHead{
    background-color: rgba(241,159,77,0.7);
    height: 65px;
    
}
#loginBody{
    padding: 0;
}
h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.hoverButtons{
    transition: all 1s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.hoverButtons:hover{
    transform: scale(1.3);
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
}



#cap{
    color: black;
    margin: 20px;
    font-size: 120px;
}
#logincontainer input{
    background-color: transparent;
    border:none;
    width: 70%;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    border-bottom:1px solid transparent;
}
#logincontainer input:focus {
  position: relative;
  outline:none;
}
#submitbutton{
    border: 1px solid transparent;
    width: 70%;
    border-radius: 25px;
    color: white;
    background-color: rgba(241,159,77,0.7);
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}
#registerbutton{
    border: 1px solid transparent;
    width: 70%;
    border-radius: 25px;
    color: white;
    height: 50px;
    background-color: rgba(241,159,77,0.7);
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 130%;
    margin: 15px 0;
    margin-bottom: 25px;
}
.longDash{
    width: 120px;
    display: inline;
}
.hollow{
    color: rgb(192, 186, 176);
    font-size: 20px;
    margin: 15px; 
}
.socialButtons{
    width: 70%;
    border-radius: 7px;
    height: 60px;
    margin: 20px auto;
}
.middleLine{
    width: 50px;
    height: 2px;
    background-color: rgb(192, 186, 176);
    display: inline-block;
    position: relative;
    top: -5px;
}
.socialLoginText{
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 14px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
a:hover{
    text-decoration: none;
}
#twitterLogin{
    background-color: rgba(0, 172, 237,0.8);
}
#facebookLogin{
    background-color: rgba(54, 88, 153,0.8);
}
#googleLogin{
    background-color: rgb(243, 46, 6);
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.5);
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.5);
    text-align: center;
    
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.5);
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.5);
    text-align: center;
