{% extends 'base.html' %}
{% load compress %}
{% load staticfiles %}

{% block head %}
    <title>HeyLiseli Giriş Yap</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'base/css/login.css' %}">
    {% endcompress %}
{% endblock %}


{% block body %}
<div id="mainView">
    <div class="paraxify" id="bg-image">
        <div class="container-fluid" id="logincontainer">
            <div class="row justify-content-sm-center">
                <div class="col-md-4" id="loginBox">
                    <div id="loginHead" class="w-100 text-center">
                        <h1 class="text-center">Giriş Yap</h1>
                    </div>
                    <div class="w-100 text-center" id="loginBody">

                        <i class="fa fa-graduation-cap fa-5x" aria-hidden="true" id="cap"></i>
                        <form method="post" action="{% url 'custom_login' %}">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <!-- TODO insert a remember me button (functional) -->
                            <button class="hoverButtons" type="submit" id="submitbutton">Giriş Yap</button>
                            <input type="hidden" name="next" value="{{next}}">
                        </form>
                        <div class="middleLine"></div> <span class="hollow"> Veya </span> <div class="middleLine"></div><br>
                        <a href="{% url 'registration_register' %}"><button class="hoverButtons" id="registerbutton">Kayıt Ol!</button> </a>
                        <hr style="background-color:rgba(241,159,77,0.6)">
                        <a href="{% url 'social:begin' 'twitter' %}">
                            <div class="socialButtons hoverButtons" id="twitterLogin">
                                <p class="socialLoginText"><i class="fa fa-twitter fa-2x align-middle" aria-hidden="true" style="color:white; margin-right:10px;"></i> Twitter ile Giriş Yap</p>
                            </div>
                        </a>
                        <a href="{% url 'social:begin' 'facebook' %}">
                            <div class="socialButtons hoverButtons" id="facebookLogin">
                                <p class="socialLoginText"><i class="fa fa-facebook fa-2x align-middle" aria-hidden="true" style="color:white;margin-right:10px;"></i> Facebook ile Giriş Yap</p>
                            </div>
                        </a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}">
                            <div class="socialButtons hoverButtons" id="googleLogin">
                                <p class="socialLoginText" ><i class="fa fa-google fa-2x align-middle" aria-hidden="true" style="color:white;margin-right:10px;"></i> Google ile Giriş Yap</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function(){
        $("#logincontainer input").focusin(function(){
            $(this).animate({backgroundColor:"rgba(255,255,255,0.2)",borderBottomStyle:"solid",borderBottomColor:"white"},1000);
        });
        $("#logincontainer input").focusout(function(){
            $(this).animate({backgroundColor:"transparent"});
            if($(this).val()==""){
                $(this).animate({borderBottomColor:"transparent"});
            }
        });
    });
</script>
{% endblock %}
