{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block head %}
<title>{{ internship }}</title>
{% compress css %}
<link rel="stylesheet" href="{% static 'base/css/internship_details.css' %}">
{% endcompress %}
{% endblock %}


{% block body %}
<div class="paraxify" id="mainImg"></div>
<div class="container-fluid" id="detailContainer">
    <div class="row justify-content-center">
        <div class="col-md-6 detailPanel" id="intInfo">
            <div class="detailSection" id="internshipHead">
                <div class="row justify-content-center">
                    <div class="forShadow">
                        <img id="intCoverImg" src="{{internship.cover_img.url}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <p id="intTitle" style="font-weight:bolder;">{{internship.name}}</p>
                    </div>
                    <div class="col-5">
                        <p id="companyTitle" class="text-right"> <span class="text-muted" style="font-weight:400">by </span>{{internship.provider}}</p>
                    </div>
                </div>
            </div>
            <div class="detailSection" id="companyBriefInfo">
                <img id="providerLogoSmall" src="{{internship.provider.company_logo.url}}">
                <div id="chevDown">
                    <i class="fa fa-chevron-down" aria-hidden="true" ></i>
                </div>
                <div id="companyDescription">
                    <span style="font-size:120%;"><strong>{{internship.provider}}</strong></span>
                    <span class="text-muted" style="font-size:85%;" id="company_desc">{{internship.provider.company_description}}</span>
                </div>
                <a href="{% url 'şirket_detay' internship.provider.id %}" id="toCompanyPage"><button class="btn btn-outline-warning" id="toComp">Şirket Sayfasına Git  <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button> </a>
            </div>
            <hr>
            <div class="detailSection" id="intDescription">
                <div class="modernTitle">
                    <h3>Staj Açıklaması</h3>
                </div>
                <p id="intDescriptionText" class="text-sm-left text-secondary strongbreak">{{internship.description}}</p>
                <hr>
                <div class="modernTitle modernTitle2">
                    <h3 id="modTit2">Sorumluluklar / Gereklilikler</h3>
                </div>
                <p id="intRequirementText" class="text-right text-secondary strongbreak splitList">{{internship.requirements}}</p>
            </div>
            <hr>
            <div class="detailSection" id="intStats">
                <div class="row justify-content-center statRow">
                    <div class="col-4 stat" id="categoryStat">
                        <div class="toCenter">
                            <div class="centerTwo">
                                <i id="categoryI" class="fa fa-th-large fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="toggleTitles">
                                <p class="statName">Kategori</p>
                            </div>
                            <p class="statExp">{{internship.category}}</p>
                        </div>
                    </div>
                    <div class="col-4 stat" id="typeStat">
                        <div class="toCenter">
                            <div class="centerTwo">
                                <i id="clockI" class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="toggleTitles">
                                <p class="statName">Staj Türü</p>
                            </div>
                            <p id="typeP" class="statExp">{{internship.get_type_display}}</p>

                        </div>
                    </div>
                    <div class="col-4 stat" id="locationStat">
                        <div class="toCenter">
                            <div class="centerTwo">
                                <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="toggleTitles">
                                <p class="statName">Konum</p>
                            </div>
                            <p class="statExp">{{internship.location}}</p>

                        </div>
                    </div>
                </div>
                <div class="row justify-content-center statRow">
                    <div class="col-4 stat" id="categoryStat2">
                        <div class="toCenter">
                            <div class="centerTwo">
                                <i class="fa fa-calendar-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="toggleTitles">
                                <p class="statName">Yayın Tarihi</p>
                            </div>
                            <p class="statExp translateMonth" id="publishDateInfo">{{internship.date_published}}</p>

                        </div>
                    </div>
                    <div class="col-4 stat" id="deadlineStat">
                        <div class="toCenter">
                            <div class="centerTwo">
                                <i id="crosshairs" class="fa fa-crosshairs fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="toggleTitles">
                                <p class="statName">Son Başvuru</p>
                            </div>
                            <p class="statExp translateMonth" id="deadlineInfo">{{internship.deadline}}</p>

                        </div>
                    </div>
                    <div class="col-4 stat" id="timeframeStat">
                        <div class="toCenter">
                            <div class="centerTwo">
                                <i id="hourglass" class="fa fa-hourglass fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="toggleTitles">
                                <p class="statName">Staj Dönemi</p>
                            </div>
                            <p class="statExp">{{internship.time_frame}}</p>

                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section" id="viewCountSection">
                <div id="viewCountDisplay">
                    <i class="fa fa-eye align-middle" aria-hidden="true" id="eye"></i>
                    <span class="align-middle" id="viewCount"> {{view_count}} Kez Görüntülendi</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 detailPanel" id="similarInternships">

        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    $(function(){
        modifyPlainText();
        var initialBriefText=$("#company_desc").html();
        var briefText=$("#company_desc").html().substr(0,100)+" ...";
        var briefText=briefText.replace(/;st;/g,"").replace(/;st.;/g,"").replace(/;br;/g,"");
        $("#company_desc").html(briefText);

        var toggler=true;
        $("#companyBriefInfo").click(function(){
            if(toggler==true){
                $("#company_desc").html("<br>"+initialBriefText).addClass("strongbreak");
                modifyPlainText();
                var newHeight=($(this).css("height","auto").height()+70)+"px";

                $(this).css("height","85px");
                $(this).animate({height:newHeight});

                $("#chevDown").addClass("rotateable");
                $("#toCompanyPage").toggle();
                toggler=false;
            }
            else {
                $(this).animate({height:"85px"});
                $("#chevDown").removeClass("rotateable");
                setTimeout(function(){
                    $("#toCompanyPage").toggle();
                    $("#company_desc").removeClass("strongbreak").html(briefText);
                },400);
                toggler=true;
            }
        });


        $("#intRequirementText").find("strong").css("font-weight","bold")
                                               .css("font-size","140%")
                                               .css("font-family","'Jockey One', sans-serif");


        $(".toCenter").hover(function(){
            $(this).find(".toggleTitles").stop(true,false).animate({height:"toggle"});
            $(this).find(".statExp").stop(true,false).animate({top:"0"});
        });
    });
</script>
{% endblock %}