{% extends 'base.html' %}
{% load compress %}
{% load staticfiles %}
{% load customFilters %}

{% block head %}
<title>{{company}} | Şirket Bilgisi</title>
{% compress css %}
<link rel="stylesheet" href="{% static 'base/css/company_details.css' %}">
{% endcompress %}
{% endblock %}

{% block body %}
<div class="container-fluid paraxify" id="mainScreen">
    <div class="row justify-content-center" id="topRow">
        <div class="col-5 col-sm-3 hoveringCol" id="companyLogoContainer">
            <div class="hoveringContainer" id="hoveringImage">
                <img src="{{company.company_logo.url}}" id="companyLogo">
            </div>
        </div>
        <div class="col-6 col-sm-7 hoveringCol" id="titleContainer">
            <div class="hoveringContainer" id="hoveringTitle">
                <h1 class="text-center" id="companyTitle">{{company}}</h1>
                <hr id="titleSeperator">
                <div class="row justify-content-sm-center" id="titleInfo">
                    <div class="col-sm-5 text-sm-center">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <span>{{company.company_field}}</span>
                    </div>
                    <div class="col-sm-5 text-sm-center">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>Kuruluş: {{company.establishment_date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" id="descAndlinkRow">
        <div class="col-11 col-sm-10 col-md-7 hoveringCol" id="descContainer">
            <div class="hoveringContainer" id="hoveringDesc">
                <div class="row">
                    <div class="col-4 infoTitle">
                        <p>Web sitesi</p>
                    </div>
                    <div class="col-8 infoAnswer">
                        <a href="{{company.website}}">
                            <p id="toWebsite"><i class="fa fa-link" aria-hidden="true"></i> {{company.website}}</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 infoTitle">
                        <p>Adres</p>
                    </div>
                    <div class="col-5 infoAnswer">
                        <p>{{company.hq_adress}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 infoTitle">
                        <p>Hakkında</p>
                    </div>
                    <div class="col-8 infoAnswer">
                        <p class="strongbreak dashHash" id="descText">{{company.company_description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-3 hoveringCol" id="linksContainer">
            <div class="hoveringContainer" id="hoveringLinks">
                <div class="row justify-content-center">
                    <div class="col-4 col-md-12 infoTitle">
                        <p id="socialTitle">Sosyal Ağlar</p>
                    </div>
                    <div class="col-8 col-md-12 infoAnswer" id="socialLinksAnswer">
                        {% for key, value in social_links.items %}
                            {% if not value == "http://none.com"%}
                                {% with keyShort=key|substring:'0,4' %}
                                    <a class="aLink" id="{{keyShort}}Link" href="{{value}}" target="_blank">
                                        <div class="row justify-content-center socialRow">
                                            <div class="col-3">
                                                <div class="circular" id="circ{{keyShort|title}}">
                                                    <i class="fa fa-{{key}}" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <p class="linkName align-middle"> {{key|title}}</p>
                                            </div>
                                        </div>
                                    </a>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if ints_of_comp %}
    <div class="row justify-content-center" id="intsTitle">
        <div class="col-11 col-sm-10 hoveringCol" id="intTitleContainer">
            <div class="hoveringContainer" id="hoveringIntTitle">
                <h2>{{company}} {{'tarafından verilen staj ilanları'|title}}</h2>
            </div>
        </div>
    </div>
    {%for internship in ints_of_comp %}
    <div class="row justify-content-center justify-content-sm-start intsRow">
        <div class="col-sm-1 d-none d-sm-block"></div>
        <div class="col-11
                    {% if ints_of_comp|len == 1 %}
                    col-sm-10
                    {% else %}
                    col-sm-5
                    {% endif %}
                    hoveringCol intContainer">
            <div class="hoveringContainer hoveringInts">
                <div class="row intRow">
                    <div class="col-12 col-sm-6 intImageCol">
                        <img src="{{internship.cover_img.url}}" class="intImage">
                    </div>
                    <div class="col-12 col-sm-6 intInfoCol">
                        <h3 class="intTitle">{{internship.name}}</h3>
                        <br>
                        <div class="row justify-content-around text-center">
                            <div class="col-4">
                                <span class="text-muted anInfo"><i class="fa fa-th-large" aria-hidden="true"></i> {{internship.category}}</span>
                            </div>
                            <div class="col-4">
                                <span class="text-muted anInfo"><i class="fa fa-thumb-tack" aria-hidden="true"></i> {{internship.location}}</span>
                            </div>
                            <div class="col-4">
                                <span class="text-muted anInfo"><i class="fa fa-hourglass" aria-hidden="true"></i> {{internship.time_frame}}</span>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 buttonCol">
                                <a href="{% url 'detay' internship.id %}"><button type="button" class="btn toIntButton">Daha Fazla Bilgi</button> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
    $( function(){
        modifyPlainText();
    });
</script>
{% endblock %}
